.navbar-logo {
  cursor: pointer;
  width: 100px;
}

.link {
  text-decoration: none;
  color: white;
  color: #545454;
  text-decoration: none;
  cursor: pointer;
}

.active {
  font-weight: bold;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #979797;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.navitem-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
